{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <h1>Blog</h1>
    {% for post in posts %}
        <h1><a href="{% url 'post_detail' post.id %}">{{post.title}}</a></h1>
        {% for tag in post.tags.all %}
           <p>{{tag.tag_name}}</p>
        {% endfor %}
        <p>
            {{post.content|slice:":150" }}...

            <small>
                <a href="{% url 'post_detail' post.id %}">
                    Continue lendo
                </a>
            </small>
        </p>



        <small>{{post.author.email}}</small>
        <small>{{post.posting_date}}</small>
    {% endfor %}
{% endblock %}