{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
    <p><h1>{{author.username}}'s posts</h1></p>
    {% for post in posts %}

        <h1><a href="{{post.get_absolute_url}}">{{post.title}}</a></h1>

        {% if post.author.username == user_logged %}
            <a href="{{post.get_absolute_url_delete}}">Delete</a>
        {% endif %}

        {% if post.posted %}
            <h3>published</h3>
        {% else %}
            <h3>unpublished</h3>
        {% endif %}

        {% for tag in post.tags.all %}
           <p>{{tag.tag_name}}</p>
        {% endfor %}
        <p>
            {{post.content|slice:":150" }}...

            <small>
                <a href="{{post.get_absolute_url}}">
                    Continue lendo
                </a>
            </small>
        </p>



        <small>{{post.author.email}}</small>
        <small>{{post.posting_date}}</small>
    {% endfor %}
{% endblock %}