[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2"
django-environ = "*"
whitenoise = "*"
gunicorn = "==20.0.4"
psycopg2 = 2.8.5

[dev-packages]

[requires]
python_version = "3.8"
