a, p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 3rem;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.private{
    color: #cecece;
}
.private a {
    color: #cecece;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.navbar a{
    color: #cacaca;
    text-decoration: none;
}
.navbar a:hover{
    color: #ffffff;
}
.navbar-item{
    margin-left: 15px;
}
.navbar-manager{
    display: flex;
    flex-direction: row-reverse;
}
.navbar-manager-login a{
    font-size: 2rem;
}