a, p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 3rem;
}
h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.private{
    color: #cecece;
}
.private a {
    color: #cecece;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vw;
}
.navbar a{
    color: #cacaca;
    text-decoration: none;
}
.navbar a:hover{
    color: #ffffff;
}
.navbar-item{
    margin-left: 15px;
}
.navbar-manager{
    display: flex;
    flex-direction: row-reverse;
}
.navbar-manager-login a{
    font-size: 2rem;
}

.standard-icon{
    font-size: 2rem;
}

.user-post-page-title{
    display: flex;
    justify-content: space-between;
}
.user-post-page-profile{
    margin-bottom: 50px;
}

.tag{
    border-radius: 100px 100px 100px 100px;
    -moz-border-radius: 100px 100px 100px 100px;
    -webkit-border-radius: 100px 100px 100px 100px;
    border: 3px solid #d8d3cd;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    max-width: 200px;
    padding: 5px;
    margin: 5px;
}
.post{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
}

.post-inner{
    width: 90%;
}