{% extends "base.html" %}

{% block title %}New blog post{% endblock %}

{% block content %}

    <form action="{% url 'post-new' author.username %}" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title"/>
        <input type="text" name="content" placeholder="Post content"/>

        {% for tag in tags %}
            <input type="radio" name="tag" value="{{tag.id}}">{{tag.tag_name}}<br>
        {% endfor %}

        <input type="submit"/>
    </form>

{% endblock %}