{% extends "base.html" %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}

    <small>
        <a href="{% url 'post-list' post.author.username %}"><i class="fas fa-arrow-circle-left standard-icon"></i></a>

        {% if post.author.username == user_logged %}
            <i class="far fa-edit"></i>
        {% endif %}
    </small>

    <h1>{{post.title}}</h1>
    <p>{{post.content}}</p>

    {% for tag in post.tags.all %}
        {{tag.tag_name}}
    {% endfor %}

    <small>{{post.author.username}}</small>
    <small>{{post.tags.tag_name}}</small>
{% endblock %}
